---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";

const {title="About", description="¿Qué es Kasi Zavio"} = Astro.props
---

<html lang="es">
  <head>
    <BaseHead title={title} description={description}/>
  </head>
  <body>
    <Header />
    <NavBar />
    <main>
		<h2 class="text-2xl font-bold mb-5">¿Qué es Kasi Zavio?</h2>

		<p>A veces lo defino como una especie de alter ego complementario que, a diferencia de "mi otro yo", no se siente culpable por dedicar algo de tiempo a aprender y divagar sobre temas que (aunque muchas veces sí) no necesariamente van a influir de forma directa con mis planes de vida o mi carrera profesional. Kasi Zavio aprende por el simple hecho de aprender y está en perfecto equilibrio con "mi otro yo".</p>

		<p>
		  Por una parte, representa la búsqueda constante de sabiduría y conocimiento
		  como forma de desarrollo y mejora continua, y por otra,
		  con el "kasi" y el "zavio" (así con faltas de ortografía) es un guiño al mítico <i
			>"Solo sé que no sé nada"</i
		  > que se atribuye a Sócrates. Una especie de concepto "anti Dunning-Kruger", la aceptación
		  de la ignorancia, un abrazo con orgullo a la idea de que mientras más conocimiento
		  tengamos del mundo, más nos daremos cuenta de que hay MUCHÍSIMAS cosas por
		  descubrir.
		</p>

		<p>
			Este proyecto aún está en pañales, crear un blog es solo una de las muchas formas que se me ocurren de sintetizar en algún lugar lo que voy aprendiendo/descubriendo, para de paso compartirlo y (preferiblemente) aportar algo a quien lo consuma o de alguna forma se sienta identificado. En un futuro voy a empezar a hacer videos con una temática similar, así que nada, si estás leyendo esto, eres de los primeros en presenciar el nacimiento de Kasi Zavio. Gracias por pasarte.  
		</p>
	</main>
    <Footer />
  </body>
</html>
