---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="¿Qué es Kasi Zavio?"
	pubDate={new Date('May 22 2024')}
	
>

<div class="flex flex-col justify-center items-center text-center">
	<span>Aún en construcción</span>
	<img src="https://i.gifer.com/origin/3b/3b6982bf4ee809f9e63c902f14c252b0_w200.gif" alt="En construcción">
</div>
	

</Layout>
