---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />

    <main>
      <h2 class="text-2xl font-bold pb-6">
        Hola panita, welcome to: mis divagaciones
      </h2>
      <p>
        Hace años que quería crearme un blog y lo estaba posponiendo por ser un
        pelotudo y andar pensando en "la forma perfecta" de diseñarlo y
        estructurarlo, pero a la mierda con eso; ya he aprendido a estar cómodo con la idea de hacer las
        cosas aunque no tenga un plan perfecto (en este caso una idea o diseño
        perfecto) e ir puliendo los errores por el camino.
      </p>
      <p>
        Y pues aquí está mi nene recién nacido, con un diseño bien minimalista (que probablemente tendrá muchos cambios en un futuro no muy lejano XD). Un lugar en el que quiero dejar plasmados algunos de mis
        pensamientos, debates con mis alter egos, crisis existenciales, análisis
        random o lo que sea que me pase por la cabeza y quiera dejar registrado
        para que mi yo del futuro pueda leerlo y pensar: QUE PEDAZO DE IMBÉCIL
        MI YO DE HACE UNOS AÑOS JAJAJAJ
      </p>

      <p>
        Inicialmente solo escribía mis divagaciones para mi, pero mi idea de
        "crear" va muy ligada a la idea de compartir, por si algo le sirve a otros para entretenerse, filosofar un poco,
        cuestionarse dogmas, reírse, inspirarse, tener un
        referente de como <b>no</b> quiere que sean sus hijos, denunciarme por
        t3rr0rism0, subversión y exceso de pelotudez... todo es válido.
      </p>

      <p class="text-sm font-thin">
        <i>
          (Supuestamente no es correcto mezclar español con inglés en la interfaz de usuario, pero nadie me
          va a decir que hacer)
        </i>
      </p>
    </main>
    <Footer />
  </body><style is:global>
    body {
      @apply text-opacity-0;
    }
  </style>
</html>
