---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />

    <main>
      <h2 class="text-2xl font-bold pb-6">
        Hola panita, bienvenido a mi blog.
      </h2>
      <p>
        Acá no vas a encontrar contenido dirigido a algún nicho en específico, concibo esto como un lugar en el que quiero dejar registrado el cóctel de múltiples temas que me interesan, te vas a encontrar con: salud y entrenamiento, humor, programación y tecnología en general, libertad, economía, crecimiento personal, divagaciones funables, análisis random, filosofía práctica... 
      </p>
      <p>
        Y, en general, yo compartiendo mi interpretación de la realidad mientras intento: cuestionármelo todo, fomentar el pensamiento crítico, compartir algunos tips para el día a día, y argumentar sobre las herramientas mentales que me ayudan a encontrarle un sentido al sinsentido de la existencia para no caer en el nihilismo (LPM siempre quise decir eso).
      </p>


      <p class="text-sm font-thin">
        <i>
          (Supuestamente no es correcto mezclar español con inglés en la interfaz de usuario, pero nadie me
          va a decir que hacer)
        </i>
      </p>
    </main>
    <Footer />
  </body><style is:global>
    body {
      @apply text-opacity-0;
    }
  </style>
</html>
