---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

  <BaseLayout>
    <main>
      <article>
        <div class="hero-image">
          {
            heroImage && (
              <img width={1020} height={510} src={heroImage} alt="" />
            )
          }
        </div>
        <div class="prose">
          <div class="title">
            <div class="date">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1>{title}</h1>
            <hr />
    </div>
    <slot />
    <a class="text-white text-xs font-bold bg-slate-500 p-2 rounded-lg hover:bg-gray-700 hover:text-black" href="../"> Volver</a>
        </div>
      </article>
    </main>
  
  </BaseLayout>

  

    <style>
      main {
        width: auto;
        max-width: 100%;
        margin: 0;
      }

      article{
        display: flex;
        flex-direction: column;
        align-items: center
      }

      .hero-image {
        @apply w-full sm:w-1/3
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        @apply shadow-md shadow-black;
      }
      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding:;
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1.5;
        font-size: 1rem;
        @apply font-bold;

      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        @apply text-slate-100
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>